@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Yeon+Sung&display=swap");

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  background-color: #fbc40e;
  font-family: "Yeon Sung", cursive;
  color: #e9d8e4;
}

h1,
h2,
h3,
h4 {
  font-family: "Pacifico", cursive;
}
